<div id="footer" class="container">
	<div id="info-links">
		<a href="self" class ="info-links-items">About Us</a>
		<a href="self" class ="info-links-items">Contact Us</a>
		<a href="self" class ="info-links-items">Terms and Conditions</a>
		<a href="self" class ="info-links-items">Privacy</a>
		<a href="self" class ="info-links-items">Delivery Locations</a>
		<a href="self" class ="info-links-items">Help</a>
	</div>
	<div id="share-links" class="footer-containers">
		<input type="image" id="fb" class="share-links-images" src="../assets/images/fb.jpg" />
		<input type="image" id="twitter" class="share-links-images" src="../assets/images/twitter.png" />
		<input type="image" id="insta" class="share-links-images" src="../assets/images/insta.png" />
	</div>
	<div id="copyright-container" class="footer-containers copyright">
		© EasyBuy 2017
	</div>
</div>