<div id="header" class="container">
    <!--<header class="text-left"> -->
		<input type="image" class="menu-img menu-img-left" src="../assets/images/menu-red.png" />
		<div id="header-center">
			<img src="../assets/images/books-header.png" class="header-center-images"></img>
			<!--<img src="../assets/images/menu.png" class="menu-img"></img>
			<label for="company-name" class="logo-label">EasyBuy</label>-->
			<img src="../assets/images/title.png" class="header-center-images"></img>
		</div>
		<input type="image" class="menu-img menu-img-left" src="../assets/images/shopping-cart.jpg" />
		<label id="header-cart-item-number" class="cart-item-number">0</label>
    <!--</header>-->
</div>